!!! transitional
html(lang=en)
  head
    meta(name=Content-Type, content=text/html, charset=utf-8)
    title ${page_title}
  body
    #user_list.test1
      | test  
      | multi line 
      | hehe
      // test ' \n
      ul
      - each string key, value in env
        li ${key} = > ${value}
      p user.id = ${user.id}
      - if user.login
        p welcome 
          a#member.profile:(href=/profile/${user.id}/, target=blank) span.red1 ${user.name}
      - else if user.admin
        p admin controll panel
      - else
        p please 
          a#login login