!!! transitional
html(lang=en)
  head
    meta(name=Content-Type, content=text/html, charset=utf-8)
    title ${page_title}
    :css (href=/test.css)
    :js (src=/test.js)
    :include!"header.jade"
  body
    #user_list.test1
      | test
      | multi line
      | hehe
      p user.id = ${user.id}
      - if user.login
        p welcome 
          a#member.profile:(href=/profile/${user.id}/?a=1&v=2, target=blank)  span.red1 ${user.name}
      - else if user.admin
        p admin controll panel
      - else
        p please 
          a#login(href=/login) login
      :text #test1(name=test1)
         test 123
         <a> test </a>
      // test
      table(border=1)
        tr: th(colspan=2, style=(color:rgb(1,60,33); font-size:16px;) , onclick=alert("123"))  req.header
        - each string key, string value in req.headers
          tr
            th ${key}
            td ${value}
        tr: th(colspan=2, style=(color:rgb(1,60,33); font-size:16px;) , onclick=alert("123"))  env
        - each key, value in env
          tr
            th ${key}
            td ${value}