!!! 5
html(lang={if user.admin("hi", 123)}en{/if} , id=123) \${page_title}test
  head
    style
      .class1{
         font-size:12px;
      }
    script%
      $(document.body).ready(function(){ 
          alert(123);
      });
    meta(name=Content-Type, \
      {if user.login}content=text/html, {/if}\
      charset=utf-8)
    title ${page_title}
  body
    #header: #logo: img(src=/images/logo.gif)
    /-
      -- int i = 0 ;
    #user_list.test1.test12
      | test div 
      | multi line ${val1} \${val2}
      | hehe
      // test ' \n
      - if user.login
        p welcome 
          a#member.profile(href=/profile/${user.id}/, target=blank) ${user.name}
	    img.photograph(src=/images/{if user.pic !is null}${user.pic}{else}blank.gif{/if}) 123
      - else if user.admin
        p admin controll panel
      - else
        p please 
	
          a#login login

    :i18n "user.intro" [user_name=${user.name}]a#user_intro(href="/user/${user.id}") [message_number={$user.msgs}]span.red