!!! 5
html(lang=en)
  head
    meta(name=Content-Type, \
      content=text/html, \
      charset=utf-8)
    title ${page_title}
  body: a bc
    #user_list.test1.test12
      | test div 
      | multi line ${val1} 
      | hehe
      // test ' \n
      - if user.login
        p welcome 
          a#member.profile(href=/profile/${user.id}/, target=blank) ${user.name}
      - else if user.admin
        p admin controll panel
      - else
        p please 
          a#login login