!!!  ${vas}123 3 {#else if 1}
html( lang = ( en )  ) 123 43
  head
    meta(name=Content-Type, content=text/html, charset=utf-8)
    title {page_title}
  body
    #user_list.test1
      | test div 
      | multi line 
      | hehe
      // test ' \n
      - if user.login
        p welcome 
          a#member.profile(href=/profile/{user.id}/, target=blank) {user.name}
      - else if user.admin
        p admin controll panel
      - else
        p please 
          a#login login