!!! 5
html(lang={if user.admin}en{/if} , id=123) \${page_title}test
  head
    meta(name=Content-Type, \
      {if user.login}content=text/html, {/if}\
      charset=utf-8)
    title ${page_title}
  body: a bc
    #user_list.test1.test12
      | test div 
      | multi line ${val1} 
      | hehe
      // test ' \n
      - if user.login
        p welcome 
          a#member.profile(href=/profile/${user.id}/, target=blank) ${user.name}
      - else if user.admin
        p admin controll panel
      - else
        p please 
          a#login login